<footer>
  <div class="container">
    <p>Call <a href="tel:+13347501729">(334) 750-1729</a> | Email <a href="mailto:gabrieljoseph.smith@gmail.com">gabrieljoseph.smith@gmail.com</a></p>
    <p>Opelika, AL 36801 | <a href="https://www.facebook.com/GabrielSmithAttorney">Facebook</a> | <a href="https://x.com/GabrielSmithLaw">X</a></p>
    <p>No representation is made that the quality of legal services to be performed is greater than the quality of legal services performed by other lawyers.</p>
    <p>&copy; 2025 Gabriel Smith Attorney at Law</p>
  </div>
</footer>
